@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#042940 ,#005C53,#9FC131,#DBF227 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#14746a;
    text-align: center;
    text-shadow: 1px 1px 0px #14746a;
    ;
}

h2 {
    color:#1e7068;
}

p {
    text-align: justify;
}